node_modules/
/elixir_blonk/_build
dist/
.env
.DS_Store
*.log
*.swp
*.swn
*.swo
# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/elixir_blonk/cover/

# The directory Mix downloads your dependencies sources to.
/elixir_blonk/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/elixir_blonk/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
elixir_blonk/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
elixir_blonk-*.tar

# Ignore assets that are produced by build tools.
elixir_blonk/priv/static/assets/

# Ignore digested assets cache.
elixir_blonk/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

